{% extends 'base.html' %}
{% load static %}
{% block title %}
    Все новости
{% endblock %}
{% block content %}


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./categories.html">Categories</a>
                        <span>Romance</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4>Все новости</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="product__page__filter">
                                        <p>Order by:</p>
                                        <select>
                                            <option value="">A-Z</option>
                                            <option value="">1-10</option>
                                            <option value="">10-50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for post in posts %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="{{ post.image.url }}">
                                            <div class="ep">{% if post.votes.sum_rating < 0 %}
                                                <i class="fas fa-poop ">{% else %}
                                                <i class="fas fa-fire-alt">{% endif %}</i> {{ post.votes.sum_rating }}
                                            </div>
                                            <div class="comment"><i class="fa fa-comments"></i> {{ post.comment_set.count }}</div>
                                            <div class="view"><i class="fa fa-eye"></i> {{ post.views }}</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                {% for tag in post.tags.all %}
                                                    <li>{{ tag }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#" class="current-page">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}